body{
    background-image: url("../images/webpage-background.jpg");
    background-size: 100%;
    background-position: fixed;
    color: antiquewhite;
}
.col-4{
    background-color:#130101;
    opacity: 0.6;
    color: white;
    padding: 0;
    margin: 5%
}

/* top  */

.top {
    background-color: dimgray;
    /* opacity: 0.4; */
}
.logo{
    float: left;
    width: 20%;
    height: 5%;
}
.logo img{
    width: 30%;
}
.xyz{
    float: right;
    font-size: 20px;
}
/* nav bar */

.navigation{
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    
  }
  li a {
    display: block;
    width: 60px;
    color: black;
  }


/* inside the columns */
.imgs{
    float: left;
}
.imgs img{
    width: 100%;
}
.text{
    float: right;
    font-size: 10px;

}


.btn-primary{
    float: right;
}
select{
    font-size: 20px;
    
}

  